#btn1{
    font-size: 15px;
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 10px 5px 10px 5px;
    border: none;
}
 
#btn2{
    font-size: 15px;
    color:black;
    background-color:white;
    padding: 10px 5px 10px 5px;
    border: none;
}
 
#btn3{
    font-size: 15px;
    color: black;
    background-color: white;
    padding: 10px 5px 10px 5px;
    border: none;
}
 
body{
    background-color: #ccd3db;
}